﻿<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



<nav class="navbar navbar-expand navbar-dark bg-dark px-3 fixed-top thin-navbar" *ngIf="account">
        <div class="navbar-brand">
            <span class="menu-icon" (click)="toggleDropdown()">&#9776;</span>
            <img src="\assets\logo.png" alt="Logo" class="navbar-logo">
          </div>
          <div class="collapse navbar-collapse" [ngClass]="{'show': isDropdownOpen}">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show': isDropdownOpen}">
              
              <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">
              <i class="fas fa-user"></i> Profile
                </a>

              <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="dropdown-item">
                  <i class="fas fa-user-shield"></i> Admin
              </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item settings" href="#">
                  <i class="fas fa-cog"></i> Settings</a>
                  
                <a class="dropdown-item logout logout-link" (click)="logout()">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                  
              </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"></li>
            </ul>
          </div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Home</a>
        <button (click)="logout()" class="btn btn-link nav-item nav-link">Signout</button>
</nav>



<router-outlet name="subnav"></router-outlet>

<alert></alert>

<!-- main router outlet -->
<router-outlet></router-outlet>
